<div class="container">

  <form action="/productos" method="POST">
    <div class="form-group">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre del Producto</label>
        <input type="text" name="title" placeholder="Title" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input type="number" name="price" placeholder="Price"class="form-control" />
      </div>
      <div class="mb-3">
        <label for="thumbnail" class="form-label">Direccion URL</label>
        <input type="text" name="thumbnail" placeholder="Thumbnail" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">INGRESAR Producto</button>
    </div>
  </form>
  
</div>