<% if(productos.length >0){  %> 
    <h2 style="color:#5f9ea0; width:20px">Historial de productos cargados</h2>
    <table class="table">
        <tr>
            <th>Nombre de Producto</th>
            <th>Precio de Producto</th>
            <th>Direccion Url Imagen del producto</th>
        </tr>
        <% productos.forEach(producto=>{%> 
            <tr>
                <td><%= producto.title  %>  </td>
                <td> <%= producto.price  %> </td>
                <td> <%= producto.thumbnail  %> </td>
            </tr> 
       <% })  %> 
       <% }else{  %>
        <h3 style="color:crimson; background-color:black">No se registran productos ingresados.</h3>
        <% } %>   
    </table>
